@{
    ViewData["Title"] = "Polityka Prywatności";
}

<h1>@ViewData["Title"]</h1>

<p>Polityka prywatności naszej aplikacji.</p>
<p>Wszystkie dane są przechowywane zgodnie z naszą polityką prywatności.</p>
